
@font-face {
    font-family: "h1";
    src: url("./assets/fonts/SourceSansPro-Black.ttf");
}

@font-face {
    font-family: "italictext";
    src: url("./assets/fonts/Merriweather-LightItalic.ttf");
}

@font-face {
    font-family: "nav";
    src: url("./assets/fonts/Merriweather-Bold.ttf");
}


*{
    box-sizing: border-box;
    margin: 0;
}

html{
    background-image:url("./assets/images/bodybackground.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1{
    color: #ffffff;
    font-family: h1;
    font-size: 80px;
    font-style: normal;
    margin-bottom: 25px;
    letter-spacing: 10px;
    
}

h1 + p , a{
    color: white;
    font-family: italictext;
    font-size: 20px;
    line-height: 2.5;
    margin-bottom: 15px;
}
a {
    text-decoration: none;
    border-bottom: 1px dotted;
}



#arrow{
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    font-size:x-large;
    font-weight: bolder;
    width: 70px;
    height: 70px;
}


#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    text-align: center;
    line-height: 1;
}

#arrow:hover,.shoutout:hover{
    color: rgba(0, 115, 255, 0.988);
    border-color: rgba(0, 115, 255, 0.988);
    transition: .75s;
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
    margin: 120px 150px 0px 150px;
}

.nav{
    
    background-color: #a09c9c;
    border-top: 1px solid rgb(143, 143, 143);
    border-bottom: none;
    margin-bottom: none;
}

.ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.leftli{

    display: flex;
    
}

.rightli{
    display: flex;
}

.leftli li,.rightli li{
    padding: 20px;
    color: white;
    font-family: h1 ;
    font-size: 16px;
}

div.leftli>li:nth-child(1){
    background-color: white;
    -webkit-text-fill-color: rgb(80, 120, 0);
    -webkit-text-stroke-color: rgb(249, 244, 244);
    -webkit-text-stroke-width: 1px;
}

.leftli li:hover{
    cursor: pointer;
    transition: 0.75s;
    background-color: gray;
}

.rightli i:hover{
    cursor:pointer;
    transition: .75s;
    color: lightskyblue;
}


main{
    background-color: #ffffff;
}


.mainarticle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}



.fullstory,.articleimg{
    align-self: center;
    transition: transform 2s;
    
}


.mainarticle .datetime{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 0px 50px 0px;
    align-self: stretch;

}

.datetime span{
    width: 40%;
    height: 1px;
    background-color: gray;
}

.mainarticle h1{
    font-family: h1;
    color: black;
    letter-spacing: 1px;
}

.mainarticle .datetime{
    color: black;
    font-family: italictext;
    margin-bottom: 50px;
}

.mainarticle p{
    color: black;
    font-family: italictext;
}

.mainarticle .imgdiv{

    width: 960px;
    height: 450px;
    overflow: hidden;
}



.mainarticle .articleimg:hover{
    cursor: pointer;
    
    transform: scale(1.2);
}

.mainarticle .fullstory{
    margin: 50px 0px;
    background-color: transparent;
    color: black;
    font-style: h1;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid black;
    letter-spacing: 1px;
}

.mainarticle h1:hover,.mainarticle .fullstory:hover{
    color: rgb(21, 224, 255);
    border-color: rgb(21, 224, 255);
    cursor: pointer;
    transition: .5s;
}


.subarticlesection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}

.subarticles{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 10px;
    
}


.subarticles .datetime{
    margin-top: 100px;
    font-family: italictext;
}

.subarticles h1{
    margin: 20px 0px;
    color: black;
    font-family: h1;
    font-size: 26px;
    letter-spacing: 1px;

}

.subarticles img{
    margin: 20px 0px;
    transform: scale(0.8);
}

.subarticles p{

    color: black;
    font-family: italictext;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 30px;
    margin: 20px 0px;
    text-align: left;
}

.subarticles .fullstory{
    margin-bottom: 20px;
    background-color: transparent;
    color: black;
    font-style: h1;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid black;
    letter-spacing: 1px;

}

.subarticles .fullstory:hover{
    color: rgb(21, 224, 255);
    border-color: rgb(21, 224, 255);
    cursor: pointer;
    transition: .5s;

}

.subarticles:nth-child(2n+1){
    border: 1px solid rgb(220, 220, 220);
    border-left: none;
}

.subarticles:nth-child(2n){
    border: 1px solid rgb(220, 220, 220);
    border-right: none;
}


.mainfooter{
    margin:60px auto;
    display: flex;
    justify-content: center;
    
}

.mainfooter span{
    margin: 0px;
    border: 1px solid rgb(150, 150, 150);
    padding: 10px;
    background-color: transparent;
    color: black;
    font-style: h1;
    font-size: 12px;
    font-weight: bold;
}

.mainfooter span:nth-child(1){
    background-color: rgb(170, 170, 170);
}

.mainfooter span:hover{
    cursor: pointer;
    color: rgb(92, 92, 255);
    border-color: rgb(79, 79, 199);
    transition:0.75s;
}


.contactsection{
    background-color: #fefefe;
    display: flex;
    justify-content: flex-start;
}

.review{
    flex-grow: 1;
}

.review form{
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgb(100, 96, 96);
    font-family: h1;
    font-size: 14px;
    font-weight: bold;
    color: rgb(53, 50, 50);
}





.review form input:last-child{
align-self: start;
font-family: h1;
font-size: 14px;
font-weight: bold;
color: rgb(53, 50, 50);
padding: 10px 25px;
border: 2px solid black;
letter-spacing: 1px;
}

.review form *{
    margin:5px 50px;
}

.review form input[type=text] , .review textarea{
    border: 2px solid rgb(175, 175, 175);
}

.address{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.address div span:nth-child(2n+1) {
    font-family: h1;
    font-size: 14px;
    font-weight: bold;
    color: rgb(53, 50, 50);

}

.address div span:nth-child(2n) {
    font-family: italictext;
    font-size: 14px;
    
    color: rgb(110, 109, 109);

}



.address div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid rgb(175, 175, 175);
    padding: 20px;
}

.address div span{
    flex-grow: 1;
    margin:10px
}

.address div:last-child{
    border-bottom: none;
}

.address div span i{
    margin:0px 10px;
}


