
@font-face {
    font-family: "h1";
    src: url("./assets/fonts/SourceSansPro-Black.ttf");
}

@font-face {
    font-family: "italictext";
    src: url("./assets/fonts/Merriweather-LightItalic.ttf");
}

@font-face {
    font-family: "nav";
    src: url("./assets/fonts/Merriweather-Bold.ttf");
}


*{
    box-sizing: border-box;
    margin: 0;
}

html{
    background-image:url("./assets/images/bodybackground.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1{
    color: #ffffff;
    font-family: h1;
    font-size: 80px;
    font-style: normal;
    margin-bottom: 25px;
    letter-spacing: 10px;
    
}

h1 + p , a{
    color: white;
    font-family: italictext;
    font-size: 20px;
    line-height: 2.5;
    margin-bottom: 15px;
}
a {
    text-decoration: none;
    border-bottom: 1px dotted;
}



#arrow{
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    font-size:x-large;
    font-weight: bolder;
    width: 70px;
    height: 70px;
}


#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    text-align: center;
    line-height: 1;
}

#arrow:hover,.shoutout:hover{
    color: rgba(0, 115, 255, 0.988);
    border-color: rgba(0, 115, 255, 0.988);
    transition: .75s;
    cursor: pointer;
}


.nav{
    margin: 120px 150px 0px 150px;
    background-color: #696868;
    border-top: 1px solid rgb(143, 143, 143);
}

.ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.leftli{

    display: flex;
    
}

.rightli{
    display: flex;
}

.leftli li,.rightli li{
    padding: 20px;
    color: white;
    font-family: h1 ;
    font-size: 16px;
}

.leftli>li:nth-child(1){
    background-color: white;
}






